/spring-base/.mvn
target/
.metadata
/spring-base/mvnw
/spring-base/mvnw.cmd
/spring-base/.gitignore
target/
/spring-base/src/test
/spring-di/src/test
/spring-di/.mvn
/spring-di/mvnw
/spring-di/mvnw.cmd
