/spring-base/.mvn
target/
.metadata
/spring-base/mvnw
/spring-base/mvnw.cmd
/spring-base/.gitignore
target/
/spring-base/src/test
/spring-di/src/test
/spring-di/.mvn
/spring-di/mvnw
/spring-di/mvnw.cmd
.idea/vcs.xml
.idea/.gitignore
/demo-factura/src/test
/demo-factura/src/test
/demo-factura/.mvn
/demo-factura/mvnw
/demo-factura/mvnw.cmd
demo-factura/.classpath
demo-factura/.project
demo-factura/.classpath
demo-factura/.project
demo-factura/.settings/org.eclipse.core.resources.prefs
demo-factura/.settings/org.eclipse.jdt.apt.core.prefs
demo-factura/.settings/org.eclipse.jdt.core.prefs
demo-factura/.settings/org.eclipse.m2e.core.prefs
demo-factura/.settings/org.springframework.ide.eclipse.prefs
spring-base/.classpath
spring-base/.project
spring-base/.settings/org.eclipse.core.resources.prefs
spring-base/.settings/org.eclipse.jdt.apt.core.prefs
spring-base/.settings/org.eclipse.jdt.core.prefs
spring-base/.settings/org.eclipse.m2e.core.prefs
spring-base/.settings/org.springframework.ide.eclipse.prefs
demo-factura/HELP.md
